@font-face {
  font-family: 'Cormorant Garamond';
  src: url('~@/assets/fonts/CormorantGaramond-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Montserrat-SemiBold';
  src: url('~@/assets/fonts/Montserrat-SemiBold.ttf') format('truetype');
}
@font-face {
  font-family: 'Dosis-Regular';
  src: url('~@/assets/fonts/Dosis-Regular.ttf') format('truetype');
}